* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #E2E6EB;
    font-family: 'Montserrat',
        sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #1B1C34;

    align-items: center;
}



.container {
    max-width: 1320px;
    padding: 0 2rem;
    margin: 0 auto;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    background: linear-gradient(171.38deg, #F9FBFC 3.36%, #E2EAF5 95.69%);
    box-shadow: 0px 0px 20px rgba(227, 235, 246, 0.3);
    border-radius: 30px;
    text-align: center;
}


.card_img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card_body {
    padding: 26px 10px 36px 10px;
}

.card_title {
    font-weight: 800;
    text-transform: capitalize;
    color: #25262C;
    font-size: 32px;
    padding-bottom: 15px;
}

.designation {
    font-weight: 700;
    font-size: 22px;
    color: #959EAF;
}

.call_btn {
  
    position: relative;
    display: inline-block;
    z-index: 99;
}



.btn_icon i {
    position: relative;
    font-size: 22px;
    color: #1F83FE;
    transition: all .3s ease-in-out;
}

.btn_icon i:after {
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    left: -17px;
    top: -18px;
    z-index: -1;
    transition: all .3s ease-in-out;
}


@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}


@media only screen and (max-width: 425px) {
    .container {
        padding: 0 1rem;
    }

    .card {
        padding: 12px;
    }

    .card_title {
        font-size: 26px;
    }

    .designation {
        font-size: 18px;
    }

    .call_btn {
        margin: 100px 0 25px;
    }
}